boday{
  background-color: rgb(244 248 255);
}
.font{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .caro a{
    background-color: purple;
    
  }
  
  .box{
    box-sizing: border-box;
    border-radius: 40px;
    
    padding: 20px;
    margin: 20px;
    
  }

  .main .text{
    font-family: "Oswald", sans-serif;
    margin-top: 200px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: 52px;
    
  }

  .main .t2{
    font-family: "Oswald", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-weight: bold;
    color: black;
    font-size: 55px;
    margin-left: 20px;
  }

.image img{
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin-left: 590px;
    padding-bottom: 20px;
    margin-top: -10px;
  
  }

  .main .t2 .t3{
    margin-left: 20px;
    margin-right: 20px;
    color: #290886;
  }

  .main .world img{
    height: 260px;
    width: 270px;
    margin-top: -140px;
    margin-left: -140px;
  }

  @keyframes world{
    0%{transform: rotate(0deg); border-width: 10px;}
    25%{}
  }


.main .hand img{
  display: flex;
  height: 160px;
  width: 200px;
  margin-left: 1200px;
  margin-top: -250px;
  
}




 /* about section start here */

.about{
  display: grid;
  height: 360px;
  width: 600px;
  margin-top: 250px;
  margin-left: 370px;
  margin-bottom: -241px;
}


 .about1{
  display: grid;
  flex-wrap: nowrap;
  box-sizing: border-box;
  border: 1px solid rgb(231, 225, 225);
  background-color: #ffffff;

  border-radius: 35px;
  margin-left: 55px;
  margin-top: 90px;
  margin-bottom: 60px;
  height:600px;
  width: 97%;
 }

 .line{
  display: flex;
  border: 5px solid #764FA1;
  rotate: 90deg;
  height: 8px;
  width: 100px;
  margin-top: 110px;
  margin-left: 25px;
 }

 .abt h2{
  display: flex;
  height: 90px;
  width: 510px;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  color: #000000;
  margin-top: -76px;
  margin-left: 90px;
 }
 .abt{
  display: grid;
  height: 50px;
  width: 570px;
  
  
 
 }


 .abt h3{
  display: flex;
  font-size: 12px;
  font-weight: 600;
  font-family: popins;
  color: darkgray;
  margin-left: 90px;
  margin-top: -20px;
 }

.abtext{
  display: flex;
  align-items: start;
  font-size: 19px;
  height: 380px;
  width: 470px;
  font-family: sans-serif;
  margin-left: 60px;
  margin-right: 90px;
  margin-top: 30px;

}

.abimg{
  display: grid;
  height: 350px;
  width: 490px;
  margin-left: 590px;
  margin-top: -400px;
}

 /* Options part start here */

 .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
  max-width: 1200px;
  gap: 20px;
}
.card {
  display: flex;
  background-color: #FFFFFF;
  border-radius: 13px;
  box-shadow: 3px 6px 2px rgba(89, 86, 230, 0.1);
  padding: 20px;
  text-align: center;
  flex: 1 1 calc(25% - 40px); /* Adjusting for gaps */
  box-sizing: border-box;
  
}
.container :hover, h3:hover{
  background-color: slateblue;
  color: white;
  transform: scale(1.05);
  transition: ease-in;
  
}

.card img{
  height: 120px;
  margin-bottom: 20px;
  margin-left: 60px;
  width: 100px;
}
.card h3 {
  font-family: oswald;
  font-weight: 600;
  color: #1b1464;
  font-size: 21px;
  margin: 0 0 10px;
}

.card p {
  color: #000000;
  font-size: 0.9em;
  font-family: "Poppins", sans-serif;
  font-weight: 16px;
  margin: 0;
}
@media (max-width: 1020px) {
  .card {
      flex: 1 1 calc(50% - 40px); /* Two cards per row */
  }
}
@media (max-width: 600px) {
  .card {
      flex: 1 1 100%; /* One card per row */
  }
}




 /* about section previous code here */
/* .div{
  display: flex;
  margin-top: 30%;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: 2px solid black;
  background: #f6eeee;
  border-radius: 23px;

}

.div .abt{
  box-sizing: border-box;
  border:10px solid salmon;
  height: 500px;
}

.div .abt .line{
  display: flex;
  margin-left: -370px;
  margin-top: 200px;
}

.div .line{
  display: flex;
  border: 5px solid #764FA1;
  rotate: 90deg;
  height: 8px;
  width: 110px;
  margin-right: -50px;
  
}

.div .about img{
  
  height: 260px;
  width: 700px;
  margin-top: -260px;
  margin-left: 450px;
}

.heading{
  font-size: 51px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  margin-top: -75px;
  margin-left: -290px;
  color: #000000;
}
.heading2{
  
  margin-left: -290px;
  font-size: 12px;
  font-weight: 700;
  font-family: popins;
  color: darkgray;
}

.div .body-0{
  display: flex;
}

.div .body-1{

  align-items: flex-start;
  justify-content: initial;
  margin-top: 35%;
  margin-right: 600px;
  margin-left: -316px;
  font-size: 19px;
  font-family: sans-serif;
  float: right;

}
.body-0 img{
  height: 350px;
  width: 490px;
  margin-top: 390px;
  margin-right: -20px;
} */

/* .div img{
  display: flex;
  height: 350px;
  width: 450px;
  margin-top: 300px;
  margin-left: 270px;
  
} */

/* .div  img{
  display: flex;
  height: 550px;
  width: 500px;
} */

